canvas {
    border: 1px solid black 
}

select{
    min-width: 5em;
   
}

select:focus{
    background-color: white;
    color: black;
}

option{
    min-width: 5em;
    text-shadow: 1px black;
    color:black;
}